[Site]
site.base = "/cloud-storage/"
site.name = "MyWebsite"
language = "zh-Hant-TW"
locale = "zh_TW"
generator = "RichDogStudio"
dir.logs = "var/logs"
dir.storage = "var/storage"


[Google]
google.id = ""
google.secret = ""
google.redirect_uri = "login.php"
